body{
    background-color: rgb(110, 110, 110);
    color: white;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: underline 5px dotted rgb(248, 155, 228);
    color: white;
}

h1{
    font-size: 3em;
}

ul{
    list-style: circle;
    line-height: 30px;
}