*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cookies {
    z-index: 60;
    font-size: 0.9em;
    color: white;
}

#cookies a{
    text-decoration: none;
    color: grey;
}

a.enlace-subrayado:hover{
    text-decoration: underline;
}

figure{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 0.5em;
}

